 {{> head }} {{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Hola me llamo {{nombre}}</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur assumenda, ea quo sunt optio sed pariatur deserunt, asperiores quod atque mollitia perspiciatis. Ea eos voluptates, iusto in voluptatibus maxime placeat!
        </p>
    </div>
    <div class="col-4">
        <img src="./assets/img/yo.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}